services:
  db:
    image: postgres:15
    restart: unless-stopped
    env_file:
      - .env.docker
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    command: ["postgres", "-c", "shared_preload_libraries=pgcrypto"]

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "1025:1025"
      - "8025:8025"

  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime-api
    env_file: ./apps/api/.env
    environment:
      PORT: "3001"
      NODE_ENV: "production"
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/workright?schema=public"
      REDIS_URL: "redis://redis:6379"
      S3_ENDPOINT: "http://minio:9000"
      S3_ACCESS_KEY_ID: "minio"
      S3_SECRET_ACCESS_KEY: "minio123"
      S3_FORCE_PATH_STYLE: "true"
      S3_BUCKET: "workright-local"
      DEMO_MODE: "true"
      DEFAULT_LOCALE: "en-AU"
      ALLOWED_ORIGINS: "http://localhost:3000"
      AUTH_AUDIENCE: "workright-local"
      AUTH_SECRET: "change-me"
      AUTH_ISSUER: "http://localhost:3001/"
    depends_on:
      - db
      - redis
    ports:
      - "3001:3001"
    command: ["node", "apps/api/dist/main.js"]

  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime-web
    env_file: ./apps/web/.env
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3001
    depends_on:
      - api
    ports:
      - "3000:3000"
    command: ["node", "apps/web/server.js"]

volumes:
  pgdata:
  minio-data:
