@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-feature-settings: 'liga' 1, 'kern' 1;
}

button:focus-visible,
[role='button']:focus-visible,
a:focus-visible {
  outline: 3px solid theme('colors.brand.DEFAULT');
  outline-offset: 2px;
}
